.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: #667788;
}

.modal form {
    margin: 10px;
}

.modal form h3 {
    font-family: 'digital';
    font-size: 1.6em;
}


.modal form input {
    border: none;
    font-family: 'digital';
    font-size: 1.2em;
    background-color: black;
    color: darkgrey;
}

.modal form .btns {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}
.modal form button {
    font-family: 'digital';
    font-size: 1.2em;
    background-color: #889;
    color: black;
    border: none;
}

/* Chrome, Safari, Edge, Opera */
.modal input::-webkit-outer-spin-button,
.modal input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.modal input[type=number] {
  -moz-appearance: textfield;
}